# Challenge 2 - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [1]:
# Import libraries
import pandas as pd
import scipy.stats as stats

In [2]:
# Load the data:
file_path = "Pokemon.csv"

pokemon_df = pd.read_csv(file_path)

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [3]:
# Your code here

types_combined = pd.concat([pokemon_df["Type 1"], pokemon_df["Type 2"]])
unique_types = types_combined.dropna().unique()
len(unique_types) # you should see 19

18

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [4]:
pokemon_totals = []

# Your code here

for poke_type in unique_types:
    
    if type(poke_type) == str:
        
        type_totals = pokemon_df[(pokemon_df['Type 1'] == poke_type) | (pokemon_df['Type 2'] == poke_type)]['Total']

        pokemon_totals.append(type_totals)


len(pokemon_totals) # you should see 18

18

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [5]:
# Your code here
from scipy.stats import f_oneway 

f_statistic, p_value = f_oneway(*pokemon_totals)

print("F-statistic:", f_statistic)

print("P-value:", p_value)

F-statistic: 6.6175382960055344
P-value: 2.6457458815984803e-15

#### Interpret the ANOVA test result. Is the difference significant?

In [6]:
# Your comment here

#the Fstats value oof 6.62 suggests that are differences between at least some pokemons types, about the total

#a small pvalue suggests that is likely to be a difference is totals in pokemon types.

In [7]:
pokemon_df.sample(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
302,279,Pelipper,Water,Flying,430,60,50,100,85,70,65,3,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
240,222,Corsola,Water,Rock,380,55,55,85,65,85,35,2,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
220,205,Forretress,Bug,Steel,465,75,90,140,60,60,40,2,False
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
564,505,Watchog,Normal,NaN,420,60,85,69,60,69,77,5,False
376,344,Claydol,Ground,Psychic,500,60,70,105,70,120,75,3,False
491,443,Gible,Dragon,Ground,300,58,70,45,40,45,42,4,False